---
# Reference: https://gethomepage.dev/configs/bookmarks/
- Repositories:
  - homelab-iac:
    - icon: ansible.png
      href: https://github.com/khangvum/homelab-iac
  - sad-scripts:
    - icon: powershell.png
      href: https://github.com/khangvum/sad-scripts
  - answer-files:
    - icon: terminal.png
      href: https://github.com/khangvum/answer-files

- Infrastructure:
  - Tailscale:
    - icon: tailscale.png
      href: https://login.tailscale.com/admin/machines
  - VMware ESXi:
    - icon: vmware-esxi.png
      href: https://192.168.0.2/ui/#/host
  - Microsoft Azure:
    - icon: azure.png
      href: https://portal.azure.com/#home

- Social Media:
  - LinkedIn:
    - icon: linkedin.png
      href: https://www.linkedin.com/in/khangvum/
  - GitHub:
    - icon: github.png
      href: https://github.com/khangvum
  - Email:
    - icon: gmail.png
      href: mailto:manhkhang0305@gmail.com
